<div class="row">
    <div class="col-12 mb-2">
        <button type="button" class="btn btn-success btn-sm" [routerLink]="['/user/form']">
            <i class="fa fa-plus"></i>
            New
        </button>
        <button type="button" class="btn btn-primary btn-sm">
            <i class="fa fa-pencil"></i>
        </button>
        <button type="button" class="btn btn-danger btn-sm">
            <i class="fa fa-trash"></i>
        </button>
    </div>
</div>
<div class="card bg-light">
    <div class="card-header">
        <b><span id="moduleName">
            <i class="fa fa-user"></i> User
        </span></b>
    </div>
    <div class="card-body">
        <table id="user-list" class="table table-striped table-hover table-sm">
            <thead>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
