{% load static %}
{% load compress %}
{% load sass_tags %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SleepWeb - Sleep Monitoring System</title>
	{% compress css inline %}
		{% block css %}
			<link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}"/>
			<link rel="stylesheet" href="{% static 'datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}"/>
			<link rel="stylesheet" href="{% static 'bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}"/>
			<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}"/>
			<link rel="stylesheet" href="{% sass_src "scss/custom.scss" %}"/>
		{% endblock %}
	{% endcompress %}
</head>
<body>

{% block base %}
{% endblock base %}



{% include 'commons/components/spinner.html' %}

{% compress js %}
	{% block scripts %}
		<script src="{% static "jquery/dist/jquery.min.js" %}"></script>
		<script src="{% static "popper.js/dist/umd/popper-utils.min.js" %}"></script>
		<script src="{% static "popper.js/dist/umd/popper.min.js" %}"></script>
		<script src="{% static "datatables.net/js/jquery.dataTables.js" %}"></script>
		<script src="{% static "datatables.net-bs4/js/dataTables.bootstrap4.min.js" %}"></script>
		<script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
		<script src="{% static "bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" %}"></script>
		<script src="{% static "commons/settings/datepicker-locale.js" %}"></script>
		<script src="{% static "commons/SpinnerController.js" %}"></script>
		<script src="{% static "commons/Extend.js" %}"></script>
		<script>const locale = '{{ LANGUAGE_CODE }}';</script>
	{% endblock %}
{% endcompress %}

</body>
</html>
