{% load static %}

<form>
	{% csrf_token %}
</form>
{% block scripts %}
	<script src="{% static "jquery/dist/jquery.min.js" %}"></script>
	<script src="{% static "commons/Extend.js" %}"></script>
	<script src="{% static "commons/SpinnerController.js" %}"></script>
	<script src="{% static "commons/AjaxController.js" %}"></script>
{% endblock %}
<script>
    function redirect() {
        window.location.href = '/login/?logout=true';
    }

    $(document).ready(function () {
        new AjaxController({
            data: {},
            method: 'POST',
            url: '/api/v1/rest-auth/logout/',
            success: redirect,
            error: redirect
        }).send(false);
    });
</script>