{% load i18n %}

<div id="form" style="display: none">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item active" aria-current="page">
				<i id="moduleIcon" class="fa fa-address-card-o"></i>
				<b>
					<span id="moduleName">{% trans 'Patients' %}</span>
				</b>
			</li>
			<li class="breadcrumb-item active" aria-current="page">
				<span id="moduleOption"></span>
			</li>
		</ol>
	</nav>
	<div id="formAlert" class="alert" role="alert" style="display: none">
	</div>
	{% csrf_token %}
	<div class="card bg-light">
		<div class="card-header">
			<ul class="nav nav-pills card-header-pills ">
				{% include 'components/menu_form.html' %}
			</ul>
		</div>
		<div class="card-body">

			<form data-parsley-validate>
				<div class="form-row">
					<div class="form-group col-md-3">
						<label for="patientId">{% trans 'Identification' %}</label>
						<input type="text"
							   class="form-control form-control-sm"
							   id="patientId"
							   name="id"
							   isPk
							   disabled>
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="patientFirstName">{% trans 'First Name' %}</label>
						<input type="text"
							   class="form-control form-control-sm"
							   data-parsley-required-message="{% trans 'Enter the first name of the patient' %}"
							   required
							   id="patientFirstName"
							   name="first_name">
					</div>
					<div class="form-group col-md-6">
						<label for="patientLastName">{% trans 'Last Name' %}</label>
						<input type="text"
							   class="form-control form-control-sm"
							   data-parsley-required-message="{% trans 'Enter the last name of the patient' %}"
							   autocomplete="off"
							   required
							   id="patientLastName"
							   name="last_name">
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6 mb-3">
						<label for="patientBirthDate">{% trans 'Birth Date' %}</label>
						<input type="text"
							   isDatePicker
							   class="form-control form-control-sm"
							   data-parsley-required-message="{% trans 'Enter the birth date of the patient' %}"
							   data-parsley-errors-container="#birthDateValidateMessage"
							   required
							   id="patientBirthDate"
							   name="birth_date">
						<div id="birthDateValidateMessage"></div>
					</div>
					<div class="form-group col-md-6">
						<label for="patientGender">{% trans 'Gender' %}</label>
						<select class="form-control form-control-sm"
								data-parsley-required-message="{% trans 'Enter the gender of the patient' %}"
								autocomplete="off"
								required
								id="patientGender"
								name="gender">
							<option value="1">{% trans 'Masculine' %}</option>
							<option value="2">{% trans 'Feminine' %}</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="patientObs">{% trans 'Comments' %}</label>
					<textarea cols="30"
							  rows="5"
							  class="form-control"
							  maxlength="1000"
							  id="patientObs"
							  name="obs"
					></textarea>
				</div>

			</form>

		</div>
	</div>
</div>
