{% load i18n %}

<div id="list">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item active" aria-current="page">
				<i id="moduleIcon" class="fa fa-address-card-o"></i>
				<b>
					<span id="moduleName">{% trans 'Patients' %}</span>
				</b>
			</li>
		</ol>
	</nav>
	<div id="listAlert" class="alert" role="alert" style="display: none">
	</div>
	<div class="card bg-light">
		<div class="card-header">
			<ul class="nav nav-pills card-header-pills ">
				{% include 'components/menu_list.html' %}
				<li class="nav-item">
					<button type="button" class="btn btn-warning btn-sm" id="btnSendPatient">
						<i class="fa fa-paper-plane"></i>
						<b>{% trans "Send Patients" %}</b>
					</button>
				</li>
                <li class="nav-item">
                    <button type="button" class="btn btn-dark btn-sm" id="btnReference">
                        <i class="fa fa-link"></i>
                        <b>{% trans "Link Remote References" %}</b>
                    </button>
                </li>
			</ul>
		</div>
		<div id="datatable" class="card-body">
		</div>
	</div>
</div>


