{% extends "commons/base/module.html" %}
{% load static %}
{% load i18n %}

{% block container %}
    <div id="period">
        {% include 'period/list.html' %}
        {% include 'period/form.html' %}
    </div>
{% endblock container %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "modules/period/PeriodController.js" %}"></script>
    <script src="{% static "modules/period/PeriodFormController.js" %}"></script>
    <script>
        $(document).ready(function () {
            new PeriodController($('#period')).init();
        });
    </script>
{% endblock %}
