.navbar {
    .fa {
        margin-right: 10px
    }
    .navbar-brand {
        font-family: "Arial Black", sans-serif !important;
    }
}
.dropdown-menu-right {
    right: 0 !important;
    left: auto !important;
}


.dropdown-menu {
    padding: unset;
    border-radius: unset;
}

.dropdown-divider {
    margin: unset;
}
