<div id="form" style="display: none">

	<div id="formAlert" class="alert" role="alert" style="display: none">
	</div>

	{% csrf_token %}
	<div class="row">
		<div class="col-12 mb-2">
			<button type="button" class="btn btn-success btn-sm" id="btnSave">
				<i class="fa fa-floppy-o"></i>
				<b>Save</b>
			</button>
			<button type="button" class="btn btn-danger btn-sm" id="btnCancel">
				<i class="fa fa-remove"></i>
				<b>Cancel</b>
			</button>
		</div>
	</div>
	<div class="card bg-light">
		<div class="card-header">
			<b><span id="moduleName">
				<i class="fa fa-user"></i> User
			</span></b>
		</div>
		<div class="card-body">

			<form data-parsley-validate>
				<div class="form-row">
					<div class="form-group col-md-3">
						<label for="user.id">Identification</label>
						<input type="text"
							   class="form-control form-control-sm"
							   id="institution.id"
							   name="id"
							   isPk
							   disabled>
					</div>
				</div>
				<div class="form-group">
					<label for="user.name">Name</label>
					<input type="text"
						   class="form-control form-control-sm"
						   required=""
						   data-parsley-required-message="Enter the name of the institution"
						   id="institution.name"
						   name="name">
				</div>

			</form>

		</div>
	</div>
</div>
