<div class="row">
    <div class="col-12 mb-2">
        <button type="button"
                class="btn btn-success btn-sm">
            <i class="fa fa-floppy-o"></i>
            <b>Save</b>
        </button>
        <button type="button" class="btn btn-danger btn-sm">
            <i class="fa fa-remove"></i>
            <b>Cancel</b>
        </button>
    </div>
</div>
<div class="card bg-light">
    <div class="card-header">
        <b><span id="moduleName">
            <i class="fa fa-user"></i> User
        </span></b>
    </div>
    <div class="card-body">

        <form id="formUser">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="user.id">Identification Code</label>
                    <input type="text"
						   class="form-control form-control-sm"
						   id="user.id"
						   name="user.id"
						   disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="user.name">Name</label>
                <input type="text"
                       class="form-control form-control-sm"
                       id="user.name"
                       required>
            </div>
            <div class="form-group">
                <label for="user.email">E-mail</label>
                <input type="email"
                       class="form-control form-control-sm"
                       id="user.email"
                       required>
            </div>
            <div class="form-group">
                <label for="user.institution">Institution</label>
                <select class="form-control form-control-sm"
                        id="user.institution"
                        required>
                </select>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="user.password">Password</label>
                    <input type="password"
                           class="form-control form-control-sm"
                           id="user.password"
                           required>
                </div>
            </div>

        </form>

    </div>
</div>
