{% load i18n %}

<div id="form" style="display: none">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item active" aria-current="page">
				<i id="moduleIcon" class="fa fa-user"></i>
				<b>
					<span id="moduleName">{% trans 'Users' %}</span>
				</b>
			</li>
			<li class="breadcrumb-item active" aria-current="page">
				<span id="moduleOption"></span>
			</li>
		</ol>
	</nav>
	<div id="formAlert" class="alert" role="alert" style="display: none">
	</div>
	{% csrf_token %}
	<div class="card bg-light">
		<div class="card-header">
			<ul class="nav nav-pills card-header-pills ">
				{% include 'components/menu_form.html' %}
			</ul>
		</div>
		<div class="card-body">

			<form id="main" data-parsley-validate>
				<div class="form-row">
					<div class="form-group col-md-3">
						<label for="userId">
							{% trans 'Identification' %}
						</label>
						<input type="text"
							   class="form-control form-control-sm"
							   id="userId"
							   name="id"
							   isPk
							   disabled
							   autocomplete="off">
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="userUsername">
							{% trans 'Username' %}
						</label>
						<input type="text"
							   class="form-control form-control-sm"
							   required
							   data-parsley-required-message="{% trans 'Enter the username' %}"
							   id="userUsername"
							   name="username"
							   autocomplete="off">
					</div>
					<div class="form-group col-md-6">
						<label for="userEmail">
							{% trans 'E-mail' %}
						</label>
						<input type="email"
							   class="form-control form-control-sm"
							   required
							   data-parsley-required-message="{% trans 'Enter the email of the user' %}"
							   autocomplete="off"
							   id="userEmail"
							   name="email">
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="userFirstName">
							{% trans 'First Name' %}
						</label>
						<input type="text"
							   class="form-control form-control-sm"
							   data-parsley-required-message="{% trans 'Enter the first name of the user' %}"
							   required
							   id="userFirstName"
							   name="first_name">
					</div>
					<div class="form-group col-md-6">
						<label for="userLastName">
							{% trans 'Last Name' %}
						</label>
						<input type="text"
							   class="form-control form-control-sm"
							   data-parsley-required-message="{% trans 'Enter the last name of the user' %}"
							   autocomplete="off"
							   required
							   id="userLastName"
							   name="last_name">
					</div>
				</div>

				<div class="form-group">
					<label for="userInstitution">
						{% trans 'Institution' %}
					</label>
					<select id="userInstitution"
							name="institution"
							autocomplete="off"
							required
							data-parsley-required-message="{% trans 'Enter the institution of the user' %}"
							class="form-control form-control-sm">
					</select>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label>
							<input type="checkbox"
								   id="is_active"
								   name="is_active"
								   value="true">
							{% trans 'Is active' %}
						</label>
					</div>
				</div>

				<div class="form-row">
					<div id="main" class="form-group col-md-6">
						<label for="userPassword">
							{% trans 'Password' %}
						</label>
						<input type="password"
							   class="form-control form-control-sm"
							   data-parsley-required-message="{% trans 'Enter the password of the user' %}"
							   data-parsley-minlength="8"
							   data-parsley-minlength-message="{% trans 'Password must have at least 8 characters' %}"
							   required
							   autocomplete="off"
							   id="userPassword"
							   name="password">
					</div>
					<div class="form-group col-md-6">
						<label for="userPasswordConfirm">
							{% trans 'Confirm Password' %}
						</label>
						<input type="password"
							   class="form-control form-control-sm"
							   data-parsley-required-message="{% trans 'Enter the password of the user' %}"
							   data-parsley-equalto="#userPassword"
							   data-parsley-equalto-message="{% trans 'Field do not match with password' %}"
							   data-parsley-minlength="8"
							   data-parsley-minlength-message="{% trans 'Password must have at least 8 characters' %}"
							   required
							   autocomplete="off"
							   id="userPasswordConfirm"
							   name="password2">
					</div>
				</div>

			</form>

		</div>
	</div>
</div>
