{% extends "commons/base/module.html" %}
{% load static %}

{% block container %}

	{% if user.is_superuser %}
		<div id="user">
			{% include 'user/list.html' %}
			{% include 'user/form.html' %}
		</div>
	{% else %}
		{% include '../commons/notallowed.html' %}
	{% endif %}

{% endblock container %}

{% if user.is_superuser %}
	{% block scripts %}
		{{ block.super }}
		<script src="{% static "modules/user/UserService.js" %}"></script>
		<script src="{% static "modules/user/UserController.js" %}"></script>
		<script>
            $(document).ready(function () {
                new UserController($('#user')).init();
            });
		</script>
	{% endblock %}
{% endif %}

