{% load i18n %}

<div class="col-md-6">
	<div class="card text-dark bg-light mb-3">
		<div class="card-header">
			<b>Notifications</b>
		</div>
		<div class="card-body">

			<div class="alert alert-success" role="alert">
				New processed data received
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="alert alert-info" role="alert">
				New data shared with you
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="alert alert-info" role="alert">
				New data shared with you
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="alert alert-danger" role="alert">
				Data processing failed
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

		</div>
	</div>
</div>
