<div id="form" style="display: none">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item active" aria-current="page">
				<i id="moduleIcon" class=""></i>
				<b>
					<span id="moduleName"></span>
				</b>
			</li>
			<li class="breadcrumb-item active" aria-current="page">
				<span id="moduleOption"></span>
			</li>
		</ol>
	</nav>
	<div id="formAlert" class="alert" role="alert" style="display: none">
	</div>
	{% csrf_token %}
	<div class="card bg-light">
		<div class="card-header">
			<ul class="nav nav-pills card-header-pills ">
				<li class="nav-item">
					<button type="button" class="btn btn-success btn-sm" id="btnSave">
						<i class="fa fa-floppy-o"></i>
						<b>Save</b>
					</button>
				</li>
				<li class="nav-item">
					<button type="button" class="btn btn-danger btn-sm" id="btnCancel">
						<i class="fa fa-remove"></i>
						<b>Cancel</b>
					</button>
				</li>
			</ul>
		</div>
		<div class="card-body">
			<form data-parsley-validate>
				<div class="form-row">
					<div class="form-group col-md-3">
						<label for="groupId">Identification</label>
						<input type="text"
							   class="form-control form-control-sm"
							   id="groupId"
							   name="id"
							   isPk
							   disabled>
					</div>
				</div>
				<div class="form-group">
					<label for="groupName">Name</label>
					<input type="text"
						   class="form-control form-control-sm"
						   required=""
						   data-parsley-required-message="Enter the name of the group"
						   maxlength="255"
						   id="groupName"
						   name="name">
				</div>

				<div class="card">
					<div class="card-header">
						<ul class="nav nav-tabs card-header-tabs">
							<li class="nav-item">
								<a class="nav-link active" id="sharewith" data-toggle="tab" href="#sharewith-form"
								   role="tab"
								   aria-controls="allow" aria-selected="true">
									<b>Share data with</b>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="patientstab" data-toggle="tab" href="#patients-form" role="tab"
								   aria-controls="allow" aria-selected="true">
									<b>Patients</b>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="detailtab" data-toggle="tab" href="#detail-form" role="tab"
								   aria-controls="details" aria-selected="false">
									<b>Details</b>
								</a>
							</li>
						</ul>
					</div>
					<div class="card-body">
						<div class="tab-content" id="myTabContent">

							<div class="tab-pane fade show active" id="sharewith-form" role="tabpanel"
								 aria-labelledby="home-tab">
								{% include 'group/allow_form.html' %}
							</div>

							<div class="tab-pane fade" id="patients-form" role="tabpanel" aria-labelledby="profile-tab">
								patients
							</div>

							<div class="tab-pane fade" id="detail-form" role="tabpanel" aria-labelledby="profile-tab">
								<div class="form-group mt-2">
									<textarea cols="30"
											  rows="10"
											  class="form-control"
											  maxlength="1000"
											  id="indicatorDefinition"
											  name="details"></textarea>
								</div>
							</div>

						</div>
					</div>
				</div>


			</form>

		</div>
	</div>
</div>
