.navbar {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    .fa {
        margin-right: 10px
    }
}
.dropdown-menu-right {
    right: 0 !important;
    left: auto !important;
}
.dropdown-menu {
    padding: unset;
    border-radius: unset;
}
.dropdown-divider {
    margin: unset;
}
.dropdown-menu {
    font-size: unset;
}
