{% extends 'commons/base.html' %}
{% load static %}

{% block base %}
	{% include 'commons/navbar.html' %}
	<div class="container mt-3">
		{% block container %}
		{% endblock container %}
		<hr class="colorgraph">
		<p class="small text-center">
			Developed by <a href="http://github.com/acca90" target="_blank">Matheus R. Hernandes</a> - University of Passo Fundo - 2019
		</p>
	</div>
{% endblock base %}

{% include 'commons/confirmation.html' %}

{% block scripts %}
	{{ block.super }}
	<script src="{% static "commons/AjaxController.js" %}"></script>
	<script src="{% static "commons/ConfirmationController.js" %}"></script>
{% endblock %}