{% extends 'commons/base.html' %}
{% load static %}

{% block css %}
	{{ block.super }}
{% endblock %}

{% block base %}
	{% if user.is_authenticated %}
		{% include 'commons/navbar.html' %}
		<div class="container mt-3">
			{% block container %}
			{% endblock container %}
			<hr class="colorgraph">
			{% include 'commons/developedby.html' %}
		</div>
		<div id="load"></div>
		{% include 'commons/confirmation.html' %}
		{% include 'commons/finder.html' %}
	{% else %}
		<meta http-equiv="REFRESH" content="0;url=/login/?auth=false">
	{% endif %}
{% endblock base %}

{% block scripts %}
	{{ block.super }}
	<script src="{% static "commons/AjaxController.js" %}"></script>
	<script src="{% static "commons/ConfirmationController.js" %}"></script>
	<script src="{% static "commons/components/DataTableComponent.js" %}"></script>
	<script src="{% static "commons/components/FinderComponent.js" %}"></script>
{% endblock %}