{% extends 'commons/base.html' %}
{% load static %}

{% block base %}

	{% if user.is_authenticated %}
		{% include 'commons/navbar.html' %}
		<div class="container mt-3">
			{% block container %}
			{% endblock container %}
			<hr class="colorgraph">
			{% include 'commons/developedby.html' %}
		</div>
	{% else %}
		<meta http-equiv="REFRESH" content="0;url=/login/">
	{% endif %}

{% endblock base %}
{% include 'commons/confirmation.html' %}

{% block scripts %}
	{{ block.super }}
	<script src="{% static "commons/AjaxController.js" %}"></script>
	<script src="{% static "commons/ConfirmationController.js" %}"></script>
{% endblock %}