<div id="finder" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="titleArea" class="modal-title"></h5>
				<button type="button" class="close" aria-label="Close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div id="container" class="modal-body">
			</div>
			<div class="modal-footer">
				<button id="finderConfirm" type="button" class="btn btn-primary">
					<i class="fa fa-check"></i>
					Confirm
				</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">
					<i class="fa fa-remove"></i>
					Cancel
				</button>
			</div>
		</div>
	</div>
</div>