{% load i18n %}

<div id="form" style="display: none">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item active" aria-current="page">
				<i id="moduleIcon" class="fa fa-gavel"></i>
				<b>
					<span id="moduleName">{% trans 'Rules' %}</span>
				</b>
			</li>
			<li class="breadcrumb-item active" aria-current="page">
				<span id="moduleOption"></span>
			</li>
		</ol>
	</nav>
	<div id="formAlert" class="alert" role="alert" style="display: none">
	</div>
	{% csrf_token %}
	<div class="card bg-light">
		<div class="card-header">
			<ul class="nav nav-pills card-header-pills ">
				{% include 'components/menu_form.html' %}
			</ul>
		</div>
		<div class="card-body">
			<form id="main" data-parsley-validate>
				<div class="form-row">
					<div class="form-group col-md-3">
						<label for="ruleId">Identification</label>
						<input type="text"
							   class="form-control form-control-sm"
							   id="ruleId"
							   name="id"
							   isPk
							   disabled>
					</div>
				</div>
				<div class="form-group">
					<label for="ruleDescription">Description</label>
					<input type="text"
						   class="form-control form-control-sm"
						   required=""
						   data-parsley-required-message="Enter the description for rule"
						   maxlength="255"
						   id="ruleDescription"
						   name="description">
				</div>

				<div id="datatableCards" class="card">
					<div class="card-header">
						<ul class="nav nav-tabs card-header-tabs">
							<li class="nav-item">
								<a class="nav-link active"
								   id="sharewith"
								   data-toggle="tab"
								   href="#SLEEP_EFFICIENCY"
								   role="tab"
								   title="{% trans 'Sleep Efficiency' %}"
								   aria-controls="allow"
								   aria-selected="true">
									<b>{% trans 'SE' %}</b>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link"
								   id="sharewith"
								   data-toggle="tab"
								   href="#SLEEP_LATENCY"
								   role="tab"
								   title="{% trans 'Sleep Latency' %}"
								   aria-controls="allow"
								   aria-selected="true">
									<b>{% trans 'SL' %}</b>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link"
								   id="sharewith"
								   data-toggle="tab"
								   href="#REM_SLEEP_PERC"
								   role="tab"
								   title="{% trans 'REM Sleep' %}"
								   aria-controls="allow"
								   aria-selected="true">
									<b>{% trans 'REM' %}</b>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link"
								   id="sharewith"
								   data-toggle="tab"
								   href="#NON_REM_SLEEP_1_2_PERC"
								   role="tab"
								   title="{% trans 'non-REM 1-2' %}"
								   aria-controls="allow"
								   aria-selected="true">
									<b>{% trans 'NR12' %}</b>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link"
								   id="sharewith"
								   data-toggle="tab"
								   href="#NON_REM_SLEEP_3_4_PERC"
								   role="tab"
								   title="{% trans 'non-REM 3-4' %}"
								   aria-controls="allow"
								   aria-selected="true">
									<b>{% trans 'NR34' %}</b>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link"
								   id="sharewith"
								   data-toggle="tab"
								   href="#AROUSALS"
								   role="tab"
								   title="{% trans 'Arousals' %}"
								   aria-controls="allow"
								   aria-selected="true">
									<b>{% trans 'ARO' %}</b>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link"
								   id="sharewith"
								   data-toggle="tab"
								   href="#AWAKENINGS"
								   role="tab"
								   title="{% trans 'Awakenings' %}"
								   aria-controls="allow"
								   aria-selected="true">
									<b>{% trans 'AW' %}</b>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link"
								   id="sharewith"
								   data-toggle="tab"
								   href="#WASO"
								   role="tab"
								   title="{% trans 'Wake after sleep onset' %}"
								   aria-controls="allow"
								   aria-selected="true">
									<b>{% trans 'WASO' %}</b>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link"
								   id="sharewith"
								   data-toggle="tab"
								   href="#NAP_EPISODE"
								   role="tab"
								   title="{% trans 'Number of nap episodes' %}"
								   aria-controls="allow"
								   aria-selected="true">
									<b>{% trans 'NAPQ' %}</b>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link"
								   id="sharewith"
								   data-toggle="tab"
								   href="#NAP_DURATION"
								   role="tab"
								   title="{% trans 'Nap duration' %}"
								   aria-controls="allow"
								   aria-selected="true">
									<b>{% trans 'NAPT' %}</b>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link"
								   id="sharewith"
								   data-toggle="tab"
								   href="#NAP_FREQUENCY"
								   role="tab"
								   title="{% trans 'Number of days, in the past 7, that a nap occurred Arousals' %}"
								   aria-controls="allow"
								   aria-selected="true">
									<b>{% trans 'NAPD' %}</b>
								</a>
							</li>
						</ul>
					</div>
					<div class="card-body">
						<div class="tab-content" id="myTabContent">
							<button type="button" class="btn btn-success btn-sm" id="btnAddThreshold">
								<i class="fa fa-plus"></i>
								<b>{% trans "Add Rule" %}</b>
							</button>

							<button type="button" class="btn btn-danger btn-sm" id="btnRemThreshold">
								<i class="fa fa-trash"></i>
								<b>{% trans 'Remove' %}</b>
							</button>

							<div class="tab-pane fade show active"
								 id="SLEEP_EFFICIENCY"
								 role="tabpanel"
								 enum="1"
								 indicator="{% trans 'Sleep Efficiency' %}"
								 aria-labelledby="home-tab">
							</div>
							<div class="tab-pane fade show"
								 id="SLEEP_LATENCY"
								 role="tabpanel"
								 enum="2"
								 indicator="{% trans 'Sleep Latency' %}"
								 aria-labelledby="home-tab"></div>
							<div class="tab-pane fade show"
								 id="REM_SLEEP_PERC"
								 role="tabpanel"
								 enum="3"
								 indicator="{% trans 'REM Sleep' %}"
								 aria-labelledby="home-tab">
							</div>
							<div class="tab-pane fade show"
								 id="NON_REM_SLEEP_1_2_PERC"
								 role="tabpanel"
								 enum="4"
								 indicator="{% trans 'non-REM 1-2' %}"
								 aria-labelledby="home-tab">
							</div>
							<div class="tab-pane fade show"
								 id="NON_REM_SLEEP_3_4_PERC"
								 role="tabpanel"
								 enum="5"
								 indicator="{% trans 'non-REM 3-4' %}"
								 aria-labelledby="home-tab">
							</div>
							<div class="tab-pane fade show"
								 id="AROUSALS"
								 role="tabpanel"
								 enum="9"
								 indicator="{% trans 'Arousals' %}"
								 aria-labelledby="home-tab">
							</div>
							<div class="tab-pane fade show"
								 id="AWAKENINGS"
								 role="tabpanel"
								 enum="10"
								 indicator="{% trans 'Awakenings' %}"
								 aria-labelledby="home-tab">
							</div>
							<div class="tab-pane fade show"
								 id="WASO"
								 role="tabpanel"
								 enum="11"
								 indicator="{% trans 'Wake after sleep onset' %}"
								 aria-labelledby="home-tab">
							</div>
							<div class="tab-pane fade show"
								 id="NAP_EPISODE"
								 role="tabpanel"
								 enum="6"
								 indicator="{% trans 'Number of nap episodes' %}"
								 aria-labelledby="home-tab">
							</div>
							<div class="tab-pane fade show"
								 id="NAP_DURATION"
								 role="tabpanel"
								 enum="7"
								 indicator="{% trans 'Nap duration' %}"
								 aria-labelledby="home-tab">
							</div>
							<div class="tab-pane fade show"
								 id="NAP_FREQUENCY"
								 role="tabpanel"
								 enum="8"
								 indicator="{% trans 'Nap frequency' %}"
								 aria-labelledby="home-tab">
							</div>

						</div>
					</div>
				</div>
			</form>

		</div>
	</div>

	{% include 'rule/threshold.html' %}
</div>
