@import "variables.scss";
@import "font-size.scss";
@import "buttons.scss";

.bg-admin {
  background-color: $sleep_web_admin_color;
}

.navbar-dark.bg-admin {
  .navbar-nav {
    .nav-link {
      color: #ffffff;
    }
  }
}

.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

table.dataTable {
  tbody {
    tr.selected {
      background-color: $sleep_web_table_selected;
      color: $sleep_web_black;
    }
  }
}

table.table-hover tbody tr:not(.dtrg-group):hover td, .table-hover tbody tr:not(.dtrg-group):hover th {
  background-color: $sleep_web_table_hover;
  color: $sleep_web_black;
}

.invalid-feedback {
  display: block;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: $sleep_web_white;
  text-decoration: none;
  background-color: $sleep_web_nav_hover;
}

.dropdown-menu {
  border-radius: unset;
  padding: 0;
}
.dropdown-divider {
  margin: 0;
}


.nav-item {
  margin-right: 5px;
}

nav > ol.breadcrumb {
  background-color: #f8f9fa;
  border: 1px solid rgba(0, 0, 0, .125);
  color: #212529
}

.modal-dialog.bottom-right {
  margin-top: 50%;
  margin-left: 15px;
}

fieldset {
  legend {
    font-size: 12px;
    font-weight: bold;
    border-bottom: solid 1px;
    text-transform: uppercase;
  }
}


.table-idx-row-10,
.table-idx-row-10 > th,
.table-idx-row-10 > td {
  background-color: #00df25;
  border-color: #00df25;
  color: #000;
}
.table-idx-row-8,
.table-idx-row-8 > th,
.table-idx-row-8 > td {
  background-color: #f1ff97;
  border-color: #d4e282;
  color: #000;
}
.table-idx-row-6,
.table-idx-row-6 > th,
.table-idx-row-6 > td {
  background-color: #ffd390;
  border-color: #e2bb80;
  color: #000;
}
.table-idx-row-4,
.table-idx-row-4 > th,
.table-idx-row-4 > td {
  background-color: #ffb089;
  border-color: #ffb089;
  color: #000;
}
.table-idx-row-0,
.table-idx-row-0 > th,
.table-idx-row-0 > td {
  background-color: #ff8c87;
  border-color: #e27974;
  color: #000;
}

.quality-0 {
  background-color: #ff8c87 !important;
}
.quality-1 {
  background-color: #ffb089 !important;
}
.quality-2 {
  background-color: #ffd390 !important;
}
.quality-3 {
  background-color: #f1ff97 !important;
}
.quality-4 {
  background-color: #00df25 !important;
}


.table-idx-row-10.that,
.table-idx-row-8.that,
.table-idx-row-6.that,
.table-idx-row-4.that,
.table-idx-row-0.that {
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
}
