@import "node_modules/bootstrap/scss/variables";

$sleep_web_black: #000;
$sleep_web_white: #fff;

$sleep_web_table_selected: #f9e300;
$sleep_web_table_hover: #f9f585;

$sleep_web_admin_color: #2c5c88;
$sleep_web_nav_hover: $sleep_web_admin_color;
