{% extends "commons/base/module.html" %}
{% load static %}
{% load i18n %}

{% block container %}
	<div id="monitoring">
		{% include 'monitoring/list.html' %}
		{% include 'monitoring/form.html' %}
	</div>
{% endblock container %}

{% block scripts %}
	{{ block.super }}
	<script src="{% static "commons/controllers/ProfileController.js" %}"></script>
	<script src="{% static "modules/monitoring/MonitoringController.js" %}"></script>
	<script>
        $(document).ready(function () {
            new MonitoringController($('#monitoring')).init();
        });
	</script>
{% endblock %}
