@import "~bootstrap/scss/bootstrap";

$grey-soft: #ededed;
$brand-color: #6097ff;
$brand-hover: #588bea;

body {
    font-size: 12px;
    font-family: "Arial", sans-serif;
}
.navbar {
    padding: unset;
    background-color: $grey-soft;

    .navbar-brand {
        color: $brand-color;
    }
    .navbar-brand:hover {
        color: $brand-hover;
    }
}
form {
    label {
        font-weight: bold;
    }
}
