<div id="form" style="display: none">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item active" aria-current="page">
				<i id="moduleIcon" class=""></i>
				<b>
					<span id="moduleName"></span>
				</b>
			</li>
			<li class="breadcrumb-item active" aria-current="page">
				<span id="moduleOption"></span>
			</li>
		</ol>
	</nav>
	<div id="formAlert" class="alert" role="alert" style="display: none">
	</div>
	{% csrf_token %}
	<div class="card bg-light">
		<div class="card-header">
			<ul class="nav nav-pills card-header-pills ">
				<li class="nav-item">
					<button type="button" class="btn btn-success btn-sm" id="btnSave">
						<i class="fa fa-floppy-o"></i>
						<b>Save</b>
					</button>
				</li>
				<li class="nav-item">
					<button type="button" class="btn btn-danger btn-sm" id="btnCancel">
						<i class="fa fa-remove"></i>
						<b>Cancel</b>
					</button>
				</li>
			</ul>
		</div>
		<div class="card-body">

			<form data-parsley-validate>
				<div class="form-row">
					<div class="form-group col-md-3">
						<label for="userId">Identification</label>
						<input type="text"
							   class="form-control form-control-sm"
							   id="userId"
							   name="id"
							   isPk
							   disabled
							   autocomplete="off">
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="parsley">Username</label>
						<input type="text"
							   class="form-control form-control-sm"
							   required
							   data-parsley-required-message="Enter the username"
							   id="userUsername"
							   name="username"
							   autocomplete="off">
					</div>
					<div class="form-group col-md-6">
						<label for="userEmail">E-mail</label>
						<input type="email"
							   class="form-control form-control-sm"
							   required
							   data-parsley-required-message="Enter the email of the user"
							   autocomplete="off"
							   id="userEmail"
							   name="email">
					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="userFirstName">First Name</label>
						<input type="text"
							   class="form-control form-control-sm"
							   data-parsley-required-message="Enter the first name of the user"
							   required
							   id="userFirstName"
							   name="first_name">
					</div>
					<div class="form-group col-md-6">
						<label for="userLastName">Last Name</label>
						<input type="text"
							   class="form-control form-control-sm"
							   data-parsley-required-message="Enter the last name of the user"
							   autocomplete="off"
							   required
							   id="userLastName"
							   name="last_name">
					</div>
				</div>

				<div class="form-group">
					<label for="userInstitution">Institution</label>
					<select id="userInstitution"
							name="institution"
							autocomplete="off"
							required
							class="form-control form-control-sm">
					</select>
				</div>
				<div class="form-row">
					<div class="form-group col-md-6">
						<label>
							<input type="checkbox"
								   id="is_active"
								   name="is_active"
								   value="true">
							Is active
						</label>

					</div>
				</div>

				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="userPassword">Password</label>
						<input type="password"
							   class="form-control form-control-sm"
							   data-parsley-required-message="Enter the password of the user"
							   data-parsley-minlength="8"
							   data-parsley-minlength-message="Password must have at least 8 characters"
							   required
							   autocomplete="off"
							   id="userPassword"
							   name="password">
					</div>
					<div class="form-group col-md-6">
						<label for="userPasswordConfirm">Confirm Password</label>
						<input type="password"
							   class="form-control form-control-sm"
							   data-parsley-required-message="Enter the password of the user"
							   data-parsley-equalto="#userPassword"
							   data-parsley-equalto-message="Field do not match with password"
							   data-parsley-minlength="8"
							   data-parsley-minlength-message="Password must have at least 8 characters"
							   required
							   autocomplete="off"
							   id="userPasswordConfirm"
							   name="password2">
					</div>
				</div>

			</form>

		</div>
	</div>
</div>
