<div id="form" style="display: none">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item active" aria-current="page">
				<i id="moduleIcon" class=""></i>
				<b>
					<span id="moduleName"></span>
				</b>
			</li>
			<li class="breadcrumb-item active" aria-current="page">
				<span id="moduleOption"></span>
			</li>
		</ol>
	</nav>
	<div id="formAlert" class="alert" role="alert" style="display: none">
	</div>
	{% csrf_token %}
	<div class="card bg-light">
		<div class="card-header">
			<ul class="nav nav-pills card-header-pills ">
				{% include 'components/menu_form.html' %}
			</ul>
		</div>
	<div class="card-body">
		<form data-parsley-validate>
			<div class="form-row">
				<div class="form-group col-md-3">
					<label for="indicatorId">Identification</label>
					<input type="text"
						   class="form-control form-control-sm"
						   id="indicatorId"
						   name="id"
						   isPk
						   disabled>
				</div>
			</div>
			<div class="form-group">
				<label for="indicatorDescription">Description</label>
				<input type="text"
					   class="form-control form-control-sm"
					   required=""
					   data-parsley-required-message="Enter the description of the stage"
					   maxlength="255"
					   id="indicatorDescription"
					   name="description">
			</div>
			<div class="form-group">
				<label for="indicatorDefinition">Definition</label>
				<textarea cols="30"
						  rows="10"
						  class="form-control"
						  required=""
						  data-parsley-required-message="Enter the definition of the stage"
						  maxlength="1000"
						  id="indicatorDefinition"
						  name="definition"
				></textarea>
			</div>
		</form>

	</div>
</div>
</div>
