{% load i18n %}

<div id="list">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item active" aria-current="page">
				<i id="moduleIcon" class=""></i>
				<b>
					<span id="moduleName"></span>
				</b>
			</li>
		</ol>
	</nav>
	<div id="listAlert" class="alert" role="alert" style="display: none">
	</div>
	<div class="card bg-light">
		<div class="card-header">
			<ul class="nav nav-pills card-header-pills ">
				<li class="nav-item">
					<button type="button" class="btn btn-success btn-sm" id="btnNew">
						<i class="fa fa-plus"></i>
						<b>{% trans "New" %}</b>
					</button>
				</li>
				<li class="nav-item">
					<button type="button" class="btn btn-primary btn-sm" id="btnEdit">
						<i class="fa fa-pencil"></i>
						<b>{% trans "Edit" %}</b>
					</button>
				</li>
				<li class="nav-item">
					<button type="button" class="btn btn-danger btn-sm" id="btnRemove">
						<i class="fa fa-trash"></i>
						<b>{% trans "Remove" %}</b>
					</button>
				</li>
				<li class="nav-item">
					<button type="button" class="btn btn-info btn-sm" id="btnRefresh">
						<i class="fa fa-refresh"></i>
						<b>{% trans "Refresh" %}</b>
					</button>
				</li>
			</ul>
		</div>
		<div id="datatable" class="card-body">
		</div>
	</div>
</div>

