{% load i18n %}

<div class="col-md-12">
    <table class="table table-sm table-idx">
        <thead>
        <tr>
            <th style="width: 60px">{% trans '' %}Result</th>
            <th style="width: 60px; text-align: center">{% trans '' %}Index</th>
            <th>{% trans '' %}Description</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-idx-row-10">
            <td></td>
            <td style="text-align: center">10</td>
            <td>{% trans 'No disturbs' %}</td>
        </tr>
        <tr class="table-idx-row-8">
            <td></td>
            <td style="text-align: center">8-9</td>
            <td>{% trans 'Anormalities' %}</td>
        </tr>
        <tr class="table-idx-row-6">
            <td></td>
            <td style="text-align: center">6-7</td>
            <td>{% trans 'Minor disturbs' %}</td>
        </tr>
        <tr class="table-idx-row-4">
            <td></td>
            <td style="text-align: center">4-5</td>
            <td>{% trans 'Moderate disturbs' %}</td>
        </tr>
        <tr class="table-idx-row-0">
            <td></td>
            <td style="text-align: center">0-3</td>
            <td>{% trans 'Strong disturbs' %}</td>
        </tr>
        </tbody>
    </table>
</div>
