<div class="card bg-light">
	<div class="card-body">
		<fieldset>
			<legend><i class="fa fa-user"></i>  <span id="profile_title"></span> Profile</legend>
			<div class="row">
				<div class="col-4 text-right">
					<b>Name:</b>
				</div>
				<div class="col-8 text-left">
					<span id="profile.name"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-4 text-right">
					<b>Gender:</b>
				</div>
				<div class="col-8 text-left">
					<span id="profile.gender"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-4 text-right">
					<b>Birth Date:</b>
				</div>
				<div class="col-8 text-left">
					<span id="profile.birth_date"></span>
				</div>
			</div>
            <div class="row">
                <div class="col-4 text-right">
                    <b>Age Group:</b>
                </div>
                <div class="col-8 text-left">
                    <span id="profile.age_group"></span>
                </div>
            </div>
			<div class="row">
				<div class="col-4 text-right">
					<b>Details:</b>
				</div>
				<div class="col-8 text-left">
					<span id="profile.details"></span>
				</div>
			</div>
		</fieldset>
	</div>
</div>